
/* Stylesheet content from js/idx/mobile/themes/common/dojox/domButtons/DomButtonTransparent30.css in folder common */
/* === Transparent Button ==*/
.mblDomButtonTransparent30 {
	position: relative;
	width: 30px;
	height: 30px;
}
.mblDomButtonTransparent30 > div {
	display: none;
}
.mblDomButtonTransparent30 > div > div {
	display: none;
}
.mblDomButtonTransparent30 > div > div > div {
	display: none;
}
.mblDomButtonTransparent30 > div > div > div > div {
	display: none;
}