<div class="view mblView">
	<!-- Licensed Materials - Property of IBM                                   
		5725-I43 (C) Copyright IBM Corp. 2011, 2014. All Rights Reserved.
		US Government Users Restricted Rights - Use, duplication or            
		disclosure restricted by GSA ADP Schedule Contract with IBM Corp.  -->
	<div class="ios-status-bar"	data-app-constraint="top"></div>
	<div data-dojo-type="appcenter/widgets/Heading" data-dojo-attach-point="header" data-app-constraint="top" label="${nls.versionHistoryTitle}" style="right:0px">
	</div>
	<div data-dojo-type="dojox/app/widgets/Container" data-dojo-attach-point="container" data-app-constraint="center" data-dojo-props="scrollable: true, fixedFooter:'mainTabBar'">		
		<ul data-dojo-attach-point="list" data-dojo-type="appcenter/widgets/EdgeToEdgeStoreList" data-dojo-props="select:'single', type:'regular'"></ul>		
	</div>	
</div>

