<div class="view mblView">
	<!-- Licensed Materials - Property of IBM                                   
		5725-I43 (C) Copyright IBM Corp. 2011, 2014. All Rights Reserved.
		US Government Users Restricted Rights - Use, duplication or            
		disclosure restricted by GSA ADP Schedule Contract with IBM Corp.  -->
	<ul id="mainTabBar" data-dojo-type="dojox/mobile/TabBar" data-dojo-attach-point="tabBar" data-app-constraint="bottom" data-dojo-props='barType:"tabBar"' style="z-index:1;visibility:hidden;right:0px">
		<li data-dojo-type="appcenter/widgets/TabBarButton" data-dojo-attach-point="catalogTab" data-dojo-props='icon1:"mblDomButtonCatalogTabIcon", selected:true, thresholdX:80, thresholdY:30'>${nls.catalogTab}</li>
		<li data-dojo-type="appcenter/widgets/TabBarButton" data-dojo-attach-point="favoritesTab" data-dojo-props='icon1:"mblDomButtonFavoritesTabIcon", thresholdX:80, thresholdY:30'>${nls.favoritesTab}</li>
		<li data-dojo-type="appcenter/widgets/TabBarButton" data-dojo-attach-point="updatesTab" data-dojo-props='icon1:"mblDomButtonUpdatesTabIcon", thresholdX:80, thresholdY:30'>${nls.updatesTab}</li>
	</ul>
</div>