<div class="view mblView" style="display:none">	
	<!-- Licensed Materials - Property of IBM                                   
		5725-I43 (C) Copyright IBM Corp. 2011, 2014. All Rights Reserved.
		US Government Users Restricted Rights - Use, duplication or            
		disclosure restricted by GSA ADP Schedule Contract with IBM Corp.  -->	
	<div class="ios-status-bar"	data-app-constraint="top"></div>		
	<div data-dojo-attach-point="header" data-dojo-type="appcenter/widgets/Heading" label="${nls.detailsTitle}" data-dojo-props="transition:'slide'" data-app-constraint="top" style="right:0px">
		<span data-dojo-attach-point="favButton" data-dojo-type="dojox/mobile/ToolBarButton" label="${nls.toggleFavorite}" class="mblSpriteButton mblFloatRight" data-dojo-props="icon:'mblDomButtonHeadingFavIcon', toggle:true"></span>			
	</div>
		
	<div class="topPanel" data-app-constraint="top">
							
		<div id="contentWrapper" style="float:left;width:50%">
			<div style="margin-left:80px" class="unselectable">
				
				<div data-dojo-attach-point="label" class="titleText">&nbsp;</div>				
				<div data-dojo-attach-point="versionLabel" class="subTitleText">&nbsp;</div>
				<div data-dojo-attach-point="internalVersionLabel" class="subTitleText">&nbsp;</div>
				<div data-dojo-attach-point="updatedLabel" class="subTitleText">&nbsp;</div>
				<div data-dojo-attach-point="sizeLabel" class="subTitleText">&nbsp;</div>				
				<div>
					<span data-dojo-type="appcenter/widgets/Rating" data-dojo-attach-point="rating" data-dojo-props="baseClass:'mblSmallRating'" ></span>
					<span data-dojo-attach-point="nbRating" class="nbRating" ></span>
				</div>
			</div>
		</div>
		
		<div style="width:72px;float:left;margin-left:-50%;position:relative" class="mblSmallRating">
			<img data-dojo-attach-point="icon" class="detailsIcon">
			<img src="css/images/loading.gif" data-dojo-attach-point="installIndicator" class="icon-indicator-bottom-right small-progress-indicator" style="display:none">
			<div data-dojo-attach-point="favIndicator" class="icon-indicator-bottom-left mblStarRatingIcon" style="display:none"></div>
		</div>
		
		<div class="buttoncellwrapper">
			<button data-dojo-attach-point="installButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn paddedButton" data-dojo-props="duration:100" >${nls.install}</button>
			<button data-dojo-attach-point="uninstallButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn paddedButton" data-dojo-props="duration:100" >${nls.uninstall}</button>
			<button data-dojo-attach-point="cancelButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn paddedButton" data-dojo-props="duration:100" style="display:none"></button>		
		</div>
		
		<div id="contentWrapper" style="position:relative;height:50px;margin-top:50px;clear: both;">
			<button style="position:absolute;right:10px" data-dojo-attach-point="addReviewButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn paddedButton" data-dojo-props="duration:100" >${nls.addReviewButton}</button>		
			<button style="position:absolute;left:0px;display:none" data-dojo-attach-point="selectVersionButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn paddedButton" data-dojo-props="duration:100" >${nls.versionHistory}</button>
		</div>
				
		<div style="text-align:center">
			<ul data-dojo-attach-point="segmentedControlDetails" data-dojo-type="appcenter/widgets/SegmentedControl" data-dojo-props='barType:"segmentedControl"'>
				<li data-dojo-attach-point="descriptionButton" data-dojo-type="dojox/mobile/TabBarButton" data-dojo-props='selected:true'>${nls.detailSegment}</li>
				<li data-dojo-attach-point="reviewsButton" data-dojo-type="dojox/mobile/TabBarButton" >${nls.reviewsTitle}</li>
				<li data-dojo-attach-point="allReviewsButton" data-dojo-type="dojox/mobile/TabBarButton" >${nls.allReviewsSegment}</li>
			</ul>
		</div>
		
	</div>		
	<!-- Action Sheet -->
	<div data-dojo-attach-point="actionSheet" data-dojo-type="dojox/mobile/Opener" class="actionSheet">
		<div data-dojo-attach-point="scrollablePane" data-dojo-type="dojox/mobile/ScrollablePane" data-dojo-props="height:'300'">
			<div data-dojo-attach-point="versionHistoryList" data-dojo-type="appcenter/widgets/EdgeToEdgeStoreList" data-dojo-props="select:'single', type:'regular'">
			</div> 
		</div>
	</div>
	<!-- Action Sheet -->
	<div data-dojo-attach-point="rateDialog" class="mblAddReviewDialog" data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-props='closeButton:true'>
		<div data-dojo-attach-point="rateDialogVersionLabel" class="unselectable" ></div>
		<div>			
			<div style="margin-top:14px;margin-left:17px;margin-right:17px">
				<form data-dojo-attach-point="form" data-dojo-attach-event='onsubmit:_onSubmit'>		
					<div data-dojo-attach-point="ratingDialog" data-dojo-type="appcenter/widgets/Rating" style="width:180px;margin-left:auto;margin-right:auto;margin-bottom:10px" class="unselectable" data-dojo-props="editable:true"></div>
					<textarea data-dojo-attach-point="ratingDialogMessage" data-dojo-type="dojox/mobile/TextArea" style="height:200px;width:100%;box-sizing:border-box"></textarea>
				</form>
			</div>			
			<div class="buttoncellwrapper">
				<button data-dojo-attach-point="sendButton" data-dojo-type="appcenter/widgets/Button" class="baseBtn whiteBtn padded1Button" data-dojo-props="duration:100" >${nls.sendButton}</button>
			</div>						
		</div>
		
	</div>
</div>